In [16]:
import numpy as np
import pandas as pd

In [12]:
def mT_to_T(unit):
    return unit/1000

In [51]:
def B():
    mu = np.linspace(7.642287892701115e-05, 7.718064946990566e-05, 100)
    mu_0 = 4*np.pi*(10**-7) # N/A^2
    I = 4.8
    N = 796
    t = 5.08e-6
    B = (N/t)*I*mu*mu_0
    return B

In [52]:
B()

array([0.07223104, 0.07223827, 0.07224551, 0.07225274, 0.07225997,
       0.07226721, 0.07227444, 0.07228168, 0.07228891, 0.07229615,
       0.07230338, 0.07231062, 0.07231785, 0.07232508, 0.07233232,
       0.07233955, 0.07234679, 0.07235402, 0.07236126, 0.07236849,
       0.07237573, 0.07238296, 0.07239019, 0.07239743, 0.07240466,
       0.0724119 , 0.07241913, 0.07242637, 0.0724336 , 0.07244083,
       0.07244807, 0.0724553 , 0.07246254, 0.07246977, 0.07247701,
       0.07248424, 0.07249148, 0.07249871, 0.07250594, 0.07251318,
       0.07252041, 0.07252765, 0.07253488, 0.07254212, 0.07254935,
       0.07255659, 0.07256382, 0.07257105, 0.07257829, 0.07258552,
       0.07259276, 0.07259999, 0.07260723, 0.07261446, 0.0726217 ,
       0.07262893, 0.07263616, 0.0726434 , 0.07265063, 0.07265787,
       0.0726651 , 0.07267234, 0.07267957, 0.0726868 , 0.07269404,
       0.07270127, 0.07270851, 0.07271574, 0.07272298, 0.07273021,
       0.07273745, 0.07274468, 0.07275191, 0.07275915, 0.07276638,
       0.07277362, 0.07278085, 0.07278809, 0.07279532, 0.07280256,
       0.07280979, 0.07281702, 0.07282426, 0.07283149, 0.07283873,
       0.07284596, 0.0728532 , 0.07286043, 0.07286767, 0.0728749 ,
       0.07288213, 0.07288937, 0.0728966 , 0.07290384, 0.07291107,
       0.07291831, 0.07292554, 0.07293277, 0.07294001, 0.07294724])

In [53]:
mT_to_T(72.8)

0.0728

In [54]:
mydataset = {
    'Magnetic': B()
}
df = pd.DataFrame(mydataset)

In [55]:
df

    Magnetic
0   0.072231
1   0.072238
2   0.072246
3   0.072253
4   0.072260
..       ...
95  0.072918
96  0.072926
97  0.072933
98  0.072940
99  0.072947

[100 rows x 1 columns]

In [58]:
df1 = df[df["Magnetic"] >= mT_to_T(72.8)]

In [59]:
df1

    Magnetic
79  0.072803
80  0.072810
81  0.072817
82  0.072824
83  0.072831
84  0.072839
85  0.072846
86  0.072853
87  0.072860
88  0.072868
89  0.072875
90  0.072882
91  0.072889
92  0.072897
93  0.072904
94  0.072911
95  0.072918
96  0.072926
97  0.072933
98  0.072940
99  0.072947